@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-padding-top: 40px;
	@apply scroll-smooth;
}

a {
	color: inherit;
	text-decoration: none;
	@apply underline underline-offset-2 decoration-2 decoration-color-accent-1 hover:text-color-accent-1 hover:decoration-color-light
}

* {
	box-sizing: border-box;
}

/* If you want to add a customized class:
@layer components {
	.new-class-name {
		@apply existed-class...
	}
} */